extends ../layout

block content
  if users
    table
      caption Users
      thead 
        th(colspan=3)
          form(action="users")
            input(name="fname",placeholder="eg: admin",onchange="this.form.submit();",value=`${fname}`)
            input(name="femail",placeholder="eg: example@example.com",onchange="this.form.submit();",value=`${femail}`)
            input(type="submit",value=""+__('buttons.filter')+"")
      tbody
        each user in users
            tr
              - user.name = user.name.replace(/(^\w{1})|(\s+\w{1})/g, letter => letter.toUpperCase())
              td= user.name
              td= user.email
              td 
                a(href=`users/${user.id}`) #{__('buttons.edit')}
              td
                  a(href=`users/delete/${user.id}`,onclick=`return confirm('${__('message.confirm.delete')}')`) #{__('buttons.delete')}
