extends ../layout
block content
    if user && typeof user.name != undefined
        form(action=`${user.id != ''? "update/"+user.id:"/"}`, method="post")
            span= __('users.name')
            input(name="name",value=""+user.name)
            br
            span= __('users.email')
            input(name="email",type="email",value=""+user.email)
            if user.id === ''
                br
                span= __('users.password')
                input(name="password",type="password",value=""+user.password)
                br
                span= __('users.reenterpassword')
                input(type="password",value=""+user.password)
            br
            input(type="submit",name="update",value=""+__('buttons.update')+"")
            a(href="./") #{__('buttons.cancel')}
    else
        p= __('users.doesnotexist')