extends ../layout

block content
    if user && typeof user.name != undefined 
        p #{__('users.welcome')} 
            - user.name = user.name.replace(/(^\w{1})|(\s+\w{1})/g, letter => letter.toUpperCase())
            b #{user.name}
        p #{__('users.youremailis')} 
            b #{user.email}
    else
        p #{__('users.doesnotexist')}

